server {
  listen       80;
  server_name  {{host}} {{long_host}};

  access_log  /var/log/nginx/{{host}}.access.log;
  error_log  /var/log/nginx/{{host}}.error.log;

  root /var/www/{{host}};

  error_page   500 502 503 504  /50x.html;
  error_page   400 /404.html;

  location / {
    index index.html;
  }
}
